<h2>Create an Account</h2>
<%= form_for(@user) do |f| %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name  %>
  <br>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name  %>
  <br>

  <%= f.label :username %>
  <%= f.text_field :username  %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.submit "Create an Account",  class: "wave-effect waves-light btn" %>
<% end  %>
