<div class="link" data-id=<%= link.id %>>
  <h3><%= link_to "#{link.title}", link.url, class: "link-title-span" %></h3>
  <span class="link-url-span">(<%= link.url %>)</span><br>
  Status:
    <% if link.read == true %>
      <span class="status clickable-text"> Read </span>
    <% else  %>
      <span class="status clickable-text"> Unread </span>
    <% end %>
    <hr>
    <p class="clickable-text edit-link">Edit</p>

    <div class="edit-link-form">
      <input value="<%= link.url %>" type="text" class="edit-link-url"><br>

      <input value="<%= link.title %>" type="text" class="edit-link-title"><br>

      <div class="edit-link-submit btn">
        Submit Changes
      </div>
    </div>
</div>
