<div class="link" data-id=<%= link.id %>>
  Url: <span class="link-url-span"><%= link.url %></span><br>
  Title: <span class="link-title-span"><%= link.title %></span><br>
  Status:
    <% if link.read == true %>
      <span class="status clickable-text"> Read </span>
    <% else  %>
      <span class="status clickable-text"> Unread </span>
    <% end %>
    <hr>
    <p class="clickable-text edit-link">Edit Link</p>

    <div class="edit-link-form">
      <input value="<%= link.url %>" type="text" class="edit-link-url">

      <input value="<%= link.title %>" type="text" class="edit-link-title">

      <div class="edit-link-submit btn">
        Submit Changes
      </div>
    </div>
</div>
