<h1>Links Index Page</h1>

<%= form_for(@link, url: links_path) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <%= f.label :url, "Link Url" %>
  <%= f.text_field :url  %>
  <br>

  <%= f.label :title, "Link Title" %>
  <%= f.text_field :title%>

  <%= f.hidden_field :response_viddeo, :value => @recorded_image, id: "image" %>
  <br>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.submit "Submit Link",  class: "btn" %>
<% end  %>

<% if @links %>

  <input type="text" placeholder="Search For Links" id="link-search"/>
    <% @links.each do |link| %>
        <%= render partial: 'link', locals: { link: link} %>
    <% end %>
  <% else  %>
    <p>
      No Links Yet!
    </p>
  <% end %>
